/* Allgemeine Stile */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url('../Pictures/LoginBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}


label {
  display: block;
  font-size: 16px;
  margin: 12px 0 4px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #0077cc;
}

input[type="submit"] {
  display: block;
  background-color: #0077cc;
  color: #fff;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 24px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #005fa3;
}

p {
  font-size: 16px;
  text-align: center;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Wrapper-Stile */
.login-wrapper {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-bottom: 60px;
  margin-top: auto;
  margin-bottom: auto;
}
/*Footer-------------------------------------*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #313131;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Arial';
  margin-top: auto;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
}


/* Fix Footer to bottom */
html {
  position: relative;
  min-height: 100%;
}

/*Cookie-------------------------------------*/

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
  display: none;
}

.cookie-banner-content p {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.cookie-banner-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.cookie-banner-button:hover {
  background-color: #0069d9;
}


@media screen and (min-width: 600px) {
  .login-wrapper {
    width: 70%;
  }
}